*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.bd{
	min-width: 680px;
	margin: 22px;
	background-color: #f2f2f2;
}
.container{
	
}
.contentBox{
	width: auto;
	height: 540px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 10px; 
	margin-bottom: 16px; 
}
.box{
	display: none;
	margin: 10px;
}

/*没有内容时的样式*/
.contentBox>.noContent{
	display: block;
	width: auto;
	height: 100%;
	text-align: center;
	color: #DDD;
	font-size: 55px;
	position: relative;
	top: 40%;
}