*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
input[type="button"],
input[type="submit"]{
	padding: 4px 15px;
	margin: 10px;
	background-color: #5BC0DE;
	color: #fff;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
}
input[type="checkbox"]{
	cursor: pointer;
}
.bd{
	min-width: 680px;
	margin: 22px;
	background-color: #f2f2f2;
}
.bd::-webkit-scrollbar {
    display: none;
}
/*头部搜索框、搜索按钮和排序按钮*/
.header{
	width: 100%;
	height: 50px;
}
.header>form>div{
	display: inline-block;
}
.search{
	float: left;
}
.search>input[type="text"]{
	width: 230px;
	height: 30px;
	font-size: 14px;
	padding: 0 10px;
	border: 1px solid #ccc;
	border-radius: 5px;  
}
.searchBtn{
	cursor: pointer;
	-o-transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	box-shadow: 0 4px 2px 0 rgba(0,0,0,0.24), 0 6px 14px 0 rgba(0,0,0,0.19);
}
.searchBtn:hover{
	cursor: pointer;
	-o-transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	background-color: #337AB7;
	box-shadow: 0 2px 1px 0 rgba(0,0,0,0.24), 0 3px 7px 0 rgba(0,0,0,0.19);
}
.deleteBatches{
	float: right;
}
.deleteBatches>.deleteBatchesBtn{
	-o-transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	background-color: #D9534F;
	box-shadow: 0 4px 2px 0 rgba(0,0,0,0.24), 0 6px 14px 0 rgba(0,0,0,0.19);
}
.deleteBatches>.deleteBatchesBtn:hover{
	-o-transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	background-color: #666;
	box-shadow: 0 2px 1px 0 rgba(0,0,0,0.24), 0 3px 7px 0 rgba(0,0,0,0.19);
}

/*内容部分*/
.contentBox{
	width: auto;
	height: 440px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 10px; 
	margin-bottom: 16px; 
}
.box{
	margin: 10px;
	display: block;
}
#table tr>th,
#table tr>td{
	font-size: 16px;
	text-align: center;
}
.title>th{
	padding: 5px 0;
}
.title>td{
	margin: 5px 0;
}
tr:nth-child(even){
	background-color: #f9f9f9;
}

/*选项*/
.option{
	width: 6%;
	min-width: 60px;
}
/*用户*/
.user{
	/*width: 16%;*/
	width: 182px;
}
.images{
	width: 35%;
	height: 60px;
	display: inline-block;
	/*background-color: lightblue;*/
	float: left;
	padding:10px 0 0 20px; 
}
.images>img{
	width: 40px;
	height: 40px;
	border-radius: 4px;
}
.name{
	width: 65%;
	height: 60px;
	line-height: 28px;
	float: left;
	text-align: left;
	padding-left: 20px; 
}
/*内容*/
.content{
	/*width: 54%;*/
	width: 612px;
	padding: 3px 0;
}
td>.publishingContent{
	width: 100%;
	height: 60px;
	text-align: left;
	padding: 10px;
}
/*时间*/
.time{
	/*width: 16%;*/
	width: 182px;
	min-width: 80px;
}
/*操作*/
.operation{
	/*width: 8%;*/
	width: 92px;
	min-width: 60px;
}
td>.deleteBtn{
	-o-transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	background-color: #D9534F;
	box-shadow: 0 4px 2px 0 rgba(0,0,0,0.24), 0 6px 14px 0 rgba(0,0,0,0.19);
}
td>.deleteBtn:hover{
	-o-transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	background-color: #666;
	box-shadow: 0 2px 1px 0 rgba(0,0,0,0.24), 0 3px 7px 0 rgba(0,0,0,0.19);
}

/*分页*/
.pagination{
	width: 298px;
	height: 40px;
	margin: 0 auto;
	/*background-color: lightblue;*/
	margin-bottom: 46px; 
	position: relative;
}
.pagination a{
	color: #fff;
}
.pagination>.prev,
.pagination>.next,
.pages>.page{
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	text-align: center;
	line-height: 40px;
	float: left;
	background-color: #fff;
	color: #337AB7;
	display: block;
	-o-transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
	box-shadow: 0 4px 2px 0 rgba(0,0,0,0.24), 0 6px 14px 0 rgba(0,0,0,0.19);
}
.pagination>.prev,
.pagination>.next{
	width: 64px;
	margin-right: 24px;
	border-radius: 8px;
	color: #fff;
	background-color: #337AB7;
}
.pagination>.next{
	margin: 0 0 0 24px;
}
.pages>.page:nth-child(1){
	border-radius: 8px 0 0 8px;
}
.pages>.page:nth-child(2){
	border-left: 1px solid #ccc;
	border-radius:0;
}
.pages>.page:nth-child(3){
	border-left: 1px solid #ccc;
	border-radius: 0 8px 8px 0;
}
.pages>.page:nth-child(1){
	background-color: #337AB7;
	color: #fff;
}
.pages>.page:hover{
	-o-transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
	background-color: #337AB7;
	color: #fff;
}
.pages1{   /*页码只有一页时显示样式*/
	position: absolute;
	left: 45%;
}
.pages1>.page1{
	border-radius: 8px !important
}
.pages2>.page2{   /*页码只有两页时显示样式*/
	border-radius: 0 8px 8px 0 !important
}
/*没有内容时的样式*/
.contentBox>.noContent{
	width: auto;
	height: 100%;
	text-align: center;
	color: #DDD;
	font-size: 55px;
	position: relative;
	top: 28%;
	display: none;
}
/*响应式*/
@media(max-width: 750px){
	.contentBox{
		height: 900px;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 10px; 
		margin-bottom: 16px; 
	}
	.row{
		height: 140px;
		padding: 0;
		margin: 0;
	}
	.user{
		width: 120px;
		float: none;
	}
	.images{
		width: 0;
		display: none;
		float: none;
	}
	.name{
		width: 100%;
		float: none;
		text-align: center;
	}
	.content{
		width: 300px;
		height: auto;
	}
	.time{
		width: 104px;
	}
	.operation{
		width: 82px;
	}
}